* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(32, 33, 36, 1);
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 8px;
    gap: 20px;
}

img {
    width: 30px;
    border-radius: 50%;
}

.imagee {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 50%;
    transition-duration: 0.4s;
}

.imagee:hover {
    background-color: #c0c0c035;
}

.icon i {
    font-size: 20px;
    color: #fffdfdd7;
}

.icon {
    text-decoration: none;
    padding: 8px 9px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

.icon:hover {
    background-color: #c0c0c01d;
}

.google {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-top: 90px;
}

.google h1 {
    font-size: 100px;
    color: white;
}

.description {
    margin-top: -20px;
    width: 260px;
    display: flex;
    justify-content: end;
}

.description p {
    color: #4487f6;
}

.search {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}



.input-con {
    width: 500px;
    height: 40px;
    border: 1px solid rgb(51, 52, 55);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-size: medium;
    color: white;
    width: 77%;
    height: 100%;
    background-color: transparent;
    border: 0;
}

input:focus {
    font-size: medium;
    outline: none;
}

.three-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 480px;
}

.three-icons i {
    color: rgb(92, 93, 95);
}

.two-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.two-icons i {
    color: #4487f6;
}

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #171717;
    height: 120px;
    align-items: start;
    gap: 20px;
    overflow: hidden;
}

.footer-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

footer p {
    color: white;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer-links1,
.footer-links2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-links1 a,
.footer-links2 a {
    padding: 3px;
}

@media (min-width: 800px) {
    footer {
        height: 90px;
    }

    .footer-con {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        flex-direction: row;
        align-items: center;
    }

    .footer-links1 {
        justify-content: flex-start;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .footer-links2 {
        justify-content: flex-end;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}